<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div *ngIf="!space" class="animated infinite bounceIn">
      <H1>Presione Espacio ⌨.</H1>
    </div>
    <div *ngIf="space">
      <div class="card animated bounceIn" [ngClass]="{'bounceIn': bounceIn, 'bounceOut': !bounceIn}" style="width: 18rem;">
        <img class="card-img-top" [src]="uinames.photo" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{uinames.name}} {{uinames.surname}} </h5>
          <p>Gender: {{uinames.gender}}</p>
          <p>Birthday: {{uinames.birthday.dmy}}</p>
          <p>Email: {{uinames.email}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Region: {{uinames.region}}</li>
          <li class="list-group-item">Phone: {{uinames.phone}}</li>
        </ul>
        <div>
          <button (click)="close()" type="button" class="btn btn-outline-primary btn-sm btn-block p-2">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>